<!-- SECTION CERTIFICATIONS -->
<section class="bg-black py-20 max-w-7xl mx-auto px-4" id="certifications">
<div class="max-w-6xl mx-auto px-6">
<h2 class="text-4xl font-bold text-center text-white mb-12">Mes Certifications</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-10" data-aos="fade-up">
<!-- Certification Azure -->
<a class="group bg-zinc-900 hover:bg-zinc-800 transition p-6 rounded-xl shadow-lg flex flex-col items-center text-center" href="https://learn.microsoft.com/api/credentials/share/en-us/AnasFATA-1846/4F9E74F9108CCCA0?sharingId" rel="noopener noreferrer" target="_blank">
<img alt="Certification Azure" class="w-16 h-16 mb-4 max-w-full h-auto" src="/static/svg/azure.svg"/>
<h3 class="text-xl font-semibold text-white group-hover:text-blue-400 transition">Microsoft Azure Notions fondamentales</h3>
<p class="text-gray-400 mt-2 text-sm">AZ-900</p>
</a>
<!-- Certification Power BI -->
<a class="group bg-zinc-900 hover:bg-zinc-800 transition p-6 rounded-xl shadow-lg flex flex-col items-center text-center" href="https://learn.microsoft.com/api/credentials/share/en-us/AnasFATA-1846/103C560C2B96F30C?sharingId" rel="noopener noreferrer" target="_blank">
<img alt="Certification Power BI" class="w-16 h-16 mb-4 max-w-full h-auto" src="/static/svg/azure.svg"/>
<h3 class="text-xl font-semibold text-white group-hover:text-blue-400 transition">Microsoft Azure Ingénierie de données</h3>
<p class="text-gray-400 mt-2 text-sm">DP-203</p>
</a>
<!-- Certification Fabric -->
<a class="group bg-zinc-900 hover:bg-zinc-800 transition p-6 rounded-xl shadow-lg flex flex-col items-center text-center" href="https://learn.microsoft.com/api/credentials/share/en-us/AnasFATA-1846/58430A6D78B79B23?sharingId" rel="noopener noreferrer" target="_blank">
<img alt="Certification Fabric" class="w-16 h-16 mb-4 max-w-full h-auto" src="/static/svg/fabric.svg"/>
<h3 class="text-xl font-semibold text-white group-hover:text-green-400 transition">Microsoft Fabric Ingénierie de données</h3>
<p class="text-gray-400 mt-2 text-sm">DP-700</p>
</a>
</div>
</div>
</section>