<section class="relative py-12 md:py-24">
  <!-- Voile noir -->
  <div class="absolute inset-0 bg-black/30"></div>

  <!-- Contenu -->
  <div class="relative max-w-7xl mx-auto px-4 md:px-24">
    <h2 class="text-xl sm:text-2xl md:text-4xl font-bold text-center text-white mb-6 md:mb-12">
      Ce que je peux faire pour vous
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12" data-aos="fade-up">
      
<!-- Carte 1 -->
<div class="bg-white/5 backdrop-blur-sm p-4 md:p-6 rounded-2xl shadow-lg hover:shadow-purple-500/20 transition transform duration-300 hover:-translate-y-1">

        <h3 class="text-base sm:text-lg md:text-xl font-bold mb-3" style="color:#bb00ff">
          Modernisation des plateformes BI/Data
        </h3>
        <p class="text-gray-300 text-sm sm:text-base md:text-lg mb-4">
          Passez d’un SI décisionnel traditionnel on-prem ou hybride à une plateforme 100 % cloud moderne, robuste et agile.
        </p>
        <p class="text-white font-semibold mb-2">Inclut :</p>
        <ul class="list-disc list-inside text-gray-400 text-xs sm:text-sm md:text-base space-y-1">
          <li>Audit de l’existant</li>
          <li>Conception d'une architecture cible adaptée à vos enjeux</li>
          <li>Migration étape par étape</li>
          <li>Accompagnement au changement</li>
        </ul>
      </div>

<!-- Carte 2 -->
<div class="bg-white/5 backdrop-blur-sm p-4 md:p-6 rounded-2xl shadow-lg hover:shadow-purple-500/20 transition transform duration-300 hover:-translate-y-1">
        <h3 class="text-base sm:text-lg md:text-xl font-bold mb-3" style="color:#bb00ff">
          Industrialisation & automatisation
        </h3>
        <p class="text-gray-300 text-sm sm:text-base md:text-lg mb-4">
          De l'ingestion à la restitution, vos flux deviennent fiables, surveillés et reproductibles. Fini les traitements manuels, place à l'efficacité.
        </p>
        <p class="text-white font-semibold mb-2">Inclut :</p>
        <ul class="list-disc list-inside text-gray-400 text-xs sm:text-sm md:text-base space-y-1">
          <li>Conception de pipelines optimisés</li>
          <li>Monitoring & Alertes</li>
          <li>Optimisation des coûts (Finops)</li>
          <li>Documentation & transfert de compétences</li>
        </ul>
      </div>

    </div>
  </div>
</section>
