<section class="bg-black px-6 md:px-24 py-24 max-w-7xl mx-auto px-4">
<h2 class="text-4xl font-bold text-center text-white mb-12">Ce que je peux faire pour vous</h2>
<div class="grid md:grid-cols-2 gap-12 grid-cols-1" data-aos="fade-up">
<!-- Carte 1 -->
<div class="bg-[#111] p-6 rounded-xl shadow-lg transition transform duration-300 hover:-translate-y-1 hover:shadow-purple-500/20">
<h3 class="text-xl font-bold text-purple-400 mb-4">Modernisation des plateformes BI/Data</h3>
<p class="text-gray-300 text-lg mb-4"> Passez d’un SI décisionnel traditionnel on-prem ou hybride à une plateforme 100 % cloud moderne, robuste et agile. </p>
<div class="mt-4">
<p class="text-white font-semibold mb-2">Inclut :</p>
<ul class="list-disc list-inside text-gray-400 text-base space-y-1">
<li>Audit de l’existant</li>
<li>Conception d'une architecture cible adaptée à vos enjeux</li>
<li>Migration étape par étape</li>
<li>Accompagnement au changement</li>
</ul>
</div>
</div>
<!-- Carte 2 -->
<div class="bg-[#111] p-6 rounded-xl shadow-lg transition transform duration-300 hover:-translate-y-1 hover:shadow-purple-500/20">
<h3 class="text-xl font-bold text-purple-400 mb-4">Industrialisation &amp; automatisation</h3>
<p class="text-gray-300 text-lg mb-4"> De l'ingestion à la restitution, vos flux deviennent fiables, surveillés et reproductibles. Fini les traitements manuels, place à l'efficacité. </p>
<div class="mt-4">
<p class="text-white font-semibold mb-2">Inclut :</p>
<ul class="list-disc list-inside text-gray-400 text-base space-y-1">
<li>Conception de pipelines optimisés</li>
<li>Monitoring &amp; Alertes</li>
<li>Optimisation des coûts (Finops)</li>
<li>Documentation &amp; transfert de compétences</li>
</ul>
</div>
</div>
</div>
</section>